<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修正画面</title>
</head>
<body>
    <h2>アップロード済み教材の修正画面</h2>
	
	ここでは、アップロードをすでにされたファイルの修正を行うことができます。
	
	<table border="1">
	    <tr>
	        <th>ID</th>
	        <th>教材名</th>
	        <th>アップロード日</th>
			<th>　　　　</th>
	    </tr>
	    <tr th:each="file : ${files}">
	        <td th:text="${file.id}"></td>
	        <td th:text="${file.name}"></td>
	        <td th:text="${file.uploadDate}"></td>
	        <!-- 編集リンクを修正 -->
			<td><a th:href="@{/editFile/{id}(id=${file.id})}">修正画面</a></td>
	    </tr>
	</table>
	<a th:href="@{/upload}">戻る</a>
	<a th:href="@{/}">ホーム</a>
</body>
</html>
